<!DOCTYPE html>
<html style="font-size: 16px">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="keywords" content="<%= title %>" />
    <meta name="description" content="" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/nicepage2-purify.css" />
    <link
      id="u-theme-google-font"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
    />
    <link
      id="u-page-google-font"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700"
    />
  </head>
  <body class="u-body">
    <section
      class="u-align-center u-clearfix u-palette-2-light-2 u-valign-top-xs u-section-2"
      id="carousel_8ebb"
    >
      <div class="u-container-style u-expanded-width u-group u-white u-group-1">
        <div class="u-container-layout u-valign-top u-container-layout-1">
          <h1
            class="u-align-center u-custom-font u-font-oswald u-text u-text-default u-text-palette-1-base u-text-1"
          >
            <%= title %>
          </h1>
          <p class="u-align-center u-text u-text-default u-text-2">
            Welcome to <%= title %>
          </p>
        </div>
      </div>
      <div class="u-list u-repeater u-list-1">
        <div class="u-container-style u-list-item u-repeater-item">
          <div
            class="u-container-layout u-similar-container u-valign-bottom-md u-valign-bottom-sm u-valign-top-lg u-valign-top-xl u-container-layout-2"
          >
            <img
              src="//images03.nicepage.com/c461c07a441a5d220e8feb1a/b013ebfa317a54698a2d9f76/high-angle-view-woman-receiving-facial-mask-beauty-salon_23-2147939942.jpg?version="
              alt=""
              class="u-image u-image-default u-image-1"
              data-image-width="626"
              data-image-height="417"
            />
            <div
              class="u-align-left u-container-style u-group u-white u-group-2"
            >
              <div
                class="u-container-layout u-valign-middle u-container-layout-3"
              >
                <h4
                  class="u-custom-font u-font-oswald u-text u-text-palette-1-base u-text-3"
                >
                  Facial spa treatment
                </h4>
                <h6 class="u-text u-text-4">
                  <b>$65.00</b> - 60 Minute Voucher
                </h6>
                <p class="u-text u-text-default u-text-grey-50 u-text-5">
                  Radiate confidence with this deeply beneficial facial
                  massage.&nbsp;
                </p>
                <a
                  href="https://nicepage.com"
                  class="u-border-0 u-btn u-btn-rectangle u-button-style u-palette-1-base u-btn-1"
                  >book now</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="u-container-style u-list-item u-repeater-item">
          <div
            class="u-container-layout u-similar-container u-valign-bottom-md u-valign-bottom-sm u-valign-top-lg u-valign-top-xl u-container-layout-4"
          >
            <img
              src="//images03.nicepage.com/c461c07a441a5d220e8feb1a/02d08174d66a531998752b2b/beautiful-young-woman-spa-salon_155003-3473.jpg?version="
              alt=""
              class="u-image u-image-default u-image-2"
              data-image-width="626"
              data-image-height="417"
            />
            <div
              class="u-align-left u-container-style u-group u-white u-group-3"
            >
              <div
                class="u-container-layout u-valign-middle u-container-layout-5"
              >
                <h4
                  class="u-custom-font u-font-oswald u-text u-text-palette-1-base u-text-6"
                >
                  Back Massage
                </h4>
                <h6 class="u-text u-text-7">
                  <b>$125.00</b> - 60 Minute Voucher
                </h6>
                <p class="u-text u-text-default u-text-grey-50 u-text-8">
                  This calming massage is a blend of strokes, stretch movements
                  and acupressure.
                </p>
                <a
                  href="https://nicepage.com"
                  class="u-border-0 u-btn u-btn-rectangle u-button-style u-palette-1-base u-btn-2"
                  >book now</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="u-container-style u-list-item u-repeater-item">
          <div
            class="u-container-layout u-similar-container u-valign-bottom-md u-valign-bottom-sm u-valign-top-lg u-valign-top-xl u-container-layout-6"
          >
            <img
              src="//images03.nicepage.com/c461c07a441a5d220e8feb1a/ec4d11f9fd85595195be14ef/woman-relaxing-during-spa-treatment_1098-3158.jpg"
              alt=""
              class="u-image u-image-default u-image-3"
            />
            <div
              class="u-align-left u-container-style u-group u-white u-group-4"
            >
              <div
                class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-valign-top-xl u-container-layout-7"
              >
                <h4
                  class="u-custom-font u-font-oswald u-text u-text-palette-1-base u-text-9"
                >
                  Thai Stone massage
                </h4>
                <h6 class="u-text u-text-10">
                  <b>$75.00</b> - 70 Minute Voucher
                </h6>
                <p class="u-text u-text-default u-text-grey-50 u-text-11">
                  This is the treatment your muscles have been craving.
                </p>
                <a
                  href="https://nicepage.com"
                  class="u-border-0 u-btn u-btn-rectangle u-button-style u-palette-1-base u-btn-3"
                  >book now</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="u-container-style u-list-item u-repeater-item">
          <div
            class="u-container-layout u-similar-container u-valign-bottom-md u-valign-bottom-sm u-valign-top-lg u-valign-top-xl u-container-layout-8"
          >
            <img
              src="//images03.nicepage.com/c461c07a441a5d220e8feb1a/ac8a4a4140c35dcd98192f22/foot-massage-woman-spa_144627-2086.jpg"
              alt=""
              class="u-image u-image-default u-image-4"
            />
            <div
              class="u-align-left u-container-style u-group u-white u-group-5"
            >
              <div
                class="u-container-layout u-valign-middle u-container-layout-9"
              >
                <h4
                  class="u-custom-font u-font-oswald u-text u-text-palette-1-base u-text-12"
                >
                  Thai Foot Massage
                </h4>
                <h6 class="u-text u-text-13">
                  <b>$65.00</b> - 60 Minute Voucher
                </h6>
                <p class="u-text u-text-default u-text-grey-50 u-text-14">
                  Reflexology is the systematic application of pressure
                  techniques&nbsp;to the feet and hands.
                </p>
                <a
                  href="https://nicepage.com"
                  class="u-border-0 u-btn u-btn-rectangle u-button-style u-palette-1-base u-btn-4"
                  >book now</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </section>

    <section class="u-backlink u-clearfix u-grey-80">
      
    </section>
  </body>
</html>
